.phone{
  border: solid 1px #d8d8d8;
  border-radius: 5px;
  width: 100%;
  min-height: 130px;
}

.phone-image{
  padding: 10px;
  display: inline-block;
  float: left;
}

.phone-description {
  padding-left: 10px;
  padding-top: 10px;
  width: 90%;
  height: 120px;
  display: inline-block;

}

.phone-link{
  !important; border-bottom: none;
  !important; text-decoration: none;
}

.phone-wide{
  min-height: 250px;
}

.phone-wide-description {
  padding-left: 10px;
  padding-top: 10px;
  width: 70%;
  height: 120px;
  display: inline-block;

}
.phone-wide-description h2{
  margin-top: 0;
  margin-bottom: 10px;
}
.phone-table{
  margin-top: 150px;
  font-size: medium;
}